/*============= RESPONSIVE ===============*/

@media (width < 768px) {

    /*nav*/

    nav {
        flex-direction: column;

    }

    /*footer*/

    footer {
        flex-direction: column;
    }

    /*Pestaña INDEX FLORENTINA*/

    #galeria {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        gap: 5px;
        box-sizing: border-box;
        grid-template-areas:
            "title"
            "fotoa"
            "fotob"
            "fotoc"
            "fotoe"
            "fotod"
            "fotof";
    }

    #galeria img {
        width: 100%;
        height: 100%;
        object-fit: cover;

    }

    /*Pestaña Promos*/

    .promociones {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        gap: 5px;
        grid-template-areas:
            "actions"
            "filters"
            "prod1"
            "prod2"
            "prod3"
            "prod4";

        .actions {
            justify-content: center;
        }

        .filters {

            span,
            label,
            input[type="checkbox"],
            ul {
                display: none;
            }

            select {
                width: 100%;
                background-color: #A0AB93;
                padding: 6px;
                border-radius: 3px;
                margin-top: 20px;

            }
        }

        .prod1,
        .prod2 {
            flex-direction: column;
            padding: 0px;
        }

        .prod1 p {
            width: auto;
            text-align: center;
            margin-left: 0;
        }

        .prod2 p {
            text-align: center;
        }
    }

    /*Pestaña Yerbas*/

    .productos {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;

        figure {
            width: 100%;
        }

        .seccion1 {
            flex-direction: column;
            align-items: center;
        }

        .seccion2 {

            flex-direction: column;
            align-items: center;
        }
    }

    /*Pestaña Error 404*/
    .pag-error {
        flex-direction: column;
        align-items: center;

        img {
            width: 600px;
        }
    }

}

@media (width < 870px) {
    /*Pestaña Nosotros*/

    .nosotros {
        .seccion1 {
            flex-direction: column;
            align-items: center;
        }

        .seccion2 {
            flex-direction: column;
            align-items: center;
        }

    }

}