//extends
// boton general
.gral-btn {
  border: none;
  border-radius: 3px;
  background-color: #A0AB93;
}

// mixins

@mixin headers($marginbtm, $padding, $align) {
  margin-bottom: $marginbtm;
  padding: $padding;
  text-align: $align;
}

/* h1, h2, h3 {
  @include headers(10px, 8px, center)
}
  */