//extends
/* boton general
.btn-gral {
    border: none;
    border-radius: 3px;
    background-color: #A0AB93;
}
/* boton productos figure con extend btn gral 
.figure-btn{
    @extend .btn-gral;
    padding: 4px 25px;
    text-align: center;
    margin-bottom: 18px;
  }
// boton actions con extend btn gral 
  .btn-actions{
  @extend .btn-gral;
  margin-left: 10px;
  color: #5b6336;
  padding: 6px;
} */