/*============= YERBAS - FLEX ===============*/
.productos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;

    figure {
        width: 30%;
        border: solid gray 1px;
        border-radius: 5px;
        margin-bottom: 30px;
        padding: 0 15px;
        text-align: center;

        img {
            width: 100%;
        }

        figcaption {
            color: $keyColor;
            font-size: $textXl;
        }

        p {
            font-size: $textSm;
            line-height: $textMd;
            margin-bottom: 20px;
        }

        .figure-btn{
            @extend .gral-btn;
            padding: 4px 25px;
            text-align: center;
            margin-bottom: 18px;
          }
    }
}